<h1>People</h1>

<% @people.each do |person|%>
     <div class="card m-3">
        <div class="card-header">
            <p>Person Number - <%= person.id%></p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name : <%= person.name%></h5>
            <p class="card-text">Parent :<%= person.parent%></p>
            <%= link_to 'show', person_path(person)  , class: 'btn btn-primary' %>
        </div>
    </div> 
<% end %>